<ul list-id='type-list'>
	{{#items}}
	<li class="list-group-item" type="list-item">
	<label>
		<input type="radio" name="purchase_type" value="{{cat}}"><span>{{name}}</span>
	</label>
	</li>
	{{/items}}
</ul>
