<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<h2>Supercreidt Client</h2>
		<h4>RESTful API Client</h4>
		<div class="panel panel-success">
			<div class="panel-heading text-center">New Purchase</div>
			<div class="panel-body" id="main-panel-body">
				<div id="notice-container"></div>
				<div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-info-sign"></span> Please choose a Purchase Type</div>
				<form method="post" id="purchase-form">
				<div class="input-group">
				  <span class="input-group-addon">Supercredit Card Number</span>
				  <input type="password" class="form-control" placeholder="000000" name="credit_hash">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				</div><br />
				<div id="types"></div>
				<div id="slider-container"></div>
				<br />
				<div class="input-group" id="purchase-row">
					<span class="input-group-btn">
						<button id="btn-purchase" class="btn btn-success" type="button"><span class="glyphicon glyphicon-shopping-cart" id="btn-icon"></span> <span id="btn-text">Purchase Now</span></button>
					</span> <input type="text" class="form-control" value="{{slider_min}}" id="slider-value" name="purchase_amount">
				</div>
				</form>
			</div>
		</div>
	</div>
</div>