<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading text-center">New Purchase</div>
			<div class="panel-body" id="main-panel-body">
				<div class="alert alert-success" role="alert">Please choose a
					Purchase Type</div>
				<form id="types"></form>
				<div id="slider-container"></div><br />
				<button type="button" class="btn btn-success btn-lg">
					<span class="glyphicon glyphicon-usd"></span> Purchase Now
				</button>
			</div>
		</div>
	</div>
</div>