@import "compass/reset";
@import "bootstrap";
@import	"mixins.scss";
@import "slider.scss";
html,body{
	text-align:center;
	min-height: 100% !important;
	background : #2c3e50;
    height: 100%;
	margin:0;
	margin-top: 2%;
	padding:0;
}
.col-md-offset-2{
	text-align:left;
	h2, h4{
		color : #FFF;
	}
}
#main-content{
	float:left;
	width:100%;
	margin-top:100px;
	height:150%;
	text-align:center;
}
#main-panel-body{
	text-align: center;
	.alert{
		text-align:left;
	}
	button{
		margin : auto;
		colr:red;
	}
}
#logo{
}
.floating{
	 -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 12px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}
.navbar{
	position:fixed;
	top:0;
	width:100%;
	z-index:999;
	padding:10px;
	-webkit-animation: navbarAnim 0.6s cubic-bezier(0, 1.5, 1, 1);;
}
.navbar div{
	float:left;
	text-align:left;
	height:100%;
}
.navbar .text{
	padding-left:30px;
}
.navbar img{
	width:80px;
	position:relative;
}
.navbar h2{
	font-size:20px;
	color:#FFF;
}
.navbar h4{
	font-size:14px;
	color:#FFF;
}
.navbar span{
	color: #FFF;
	font-size: 20px;
}
@-webkit-keyframes navbarAnim {
    from { top:-100px;}
    to { top:0}
}
#main-panel{
	margin : auto;
}
[list-id='type-list']{
	text-align: left;
}
.list-group-item span{
	padding-left : 20px;
}
#slider-container{
	span{
		padding-right: 20px;
		padding-left : 20px;
		font-weight	: bold;
	}
}
.alert{
	height:51px;
}
#purchase-row{
	width:35%;
	margin:auto;
}
#types{
	label{
		font-weight:normal;
		cursor:pointer;
		span{
			position:relative;
		}
	}
	label:hover{
		color:#000;
	}
}
.categoryAnim {
    -animation: catAnim 1.3s infinite linear;
    -webkit-animation: _catAnim 1.3s infinite linear;
}
@-webkit-keyframes _catAnim {
	0%{background:#ffffff}
	60%{background:#d8d8d8}
	100%{background:#ffffff}
}
@-webkit-keyframes _catAnimBack {
    from { left:80px}
    to { left:0px}
}
@keyframes catAnim {
    from { left:0px}
    to { left:80px}
}
.loadingAnim {
    -animation: spin .7s infinite linear;
    -webkit-animation: _spin .7s infinite linear;
}
.leftNotice{
	float:left;
	text-align:left;
}
.rightNotice{
	float:right;
	text-align:right;
}
@-webkit-keyframes _spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}