@import "compass/reset";
@import "bootstrap";
@import	"mixins.scss";
html,body{
	text-align:center;
	min-height: 100% !important;
    height: 100%;
	margin:0;
	padding:0;
}
#main-content{
	border:1px solid red;
	float:left;
	width:100%;
	height:100%;
	text-align:center;
}
#main-panel{
	margin : auto;
}
[list-id='type-list']{
	text-align: left;
}